.bs {
    box-sizing: border-box;
}

.cf {
    background: #ff6600;
}

.rc {
    background: #00b7ff;
}

.d {
    background: #ff0048;
}

.fr {
    background: #3e0015;
}

p,
span {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter !important;
}

.container-fluid {
    height: auto;
    padding: 20px;
}