<footer class="bg-dark text-center text-white" style="padding-top:30px ;">
    <div class="container-fluid">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"><i
                    class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button"><i
                    class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com.vn/" role="button"><i
                    class="fab fa-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"><i
                    class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/" role="button"><i
                    class="fab fa-github"></i></a>
        </section>
        <section>
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Get notification:</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12">
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" class="form-control"
                                placeholder="Enter your email" />
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); margin-top: 20px;">
        © 2022 Created by:
        <a class="text-white" href="#">NamNP2</a>
    </div>
</footer>