<app-header></app-header>

<body>
    <div class="p-5 text-center bg-image" style="
      background-image: url('../../assets/asc.jpg');
      height: 600px; background-size: cover;
    ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: auto; padding: 50px; margin: 70px;">
            <div class="d-flex justify-content-center align-items-center">
                <div class="text-white">    
                    <h1 class="mb-3">COVID-19</h1>
                    <h2><i class="fas fa-pray"></i></h2>
                    <h4 class="mb-3">Information</h4>
                    <p>Coronavirus disease spreads primarily through contact with an infected person when they cough or
                        sneeze. It also spreads when a person touches a surface or object that has the virus on it, then
                        touches their eyes...</p>
                        <a class="btn btn-outline-light btn-lg" href="https://covid19.who.int/" role="button"
                        >More information</a
                        >
                </div>
            </div>
        </div>
    </div>

</body>
<router-outlet></router-outlet>
<app-footer></app-footer>